*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}  

body{
    background-color: #98B8F3;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 1190px;
    height: 650px;
    margin: 0 auto;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}

#principal{
    padding: 2rem 2rem 4rem 2rem;
    width: 95%;
    background-image: url(../images/sound_man.png);
    border-radius: 16px 0 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h1{
    color: white;
    font-size: 4rem;
    margin-bottom: 2rem;
}

#knowmore-btn{
    background-color: #3577EF;
    padding: 1rem 2rem 1rem 2rem ;
    color: white;
    justify-content: center;
    border-radius: 4px;
    text-decoration: none;
}

#knowmore-btn img{
    margin-right: 0.5rem;
    position: relative;
    top: 2px;
}

aside{
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem 4rem 4rem;
}

#logo{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#description{
    margin-bottom:1rem ;
}
#description h3{
    font-size: 1.6rem;
    color: #474D59;
    margin-bottom: 1rem;
}

#description span{
    color: #9D9D9D;
    font-size: 14px;
}

#social-login{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.social-btn{
    display: flex;
    justify-content: center;
    border: solid 3px #D6DFF1;
    border-radius: 4px;
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1rem;
    text-decoration: none;
}

#google-btn{
    display: flex;
    text-decoration: none;
    color: #474D59;
}
#google-btn img{
    margin-right: 8px;
}

#face-btn{
    display: flex;
    text-decoration: none;
    color: #474D59;
}
#face-btn img{
    margin-right: 8px;
}

#gap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #9D9D9D;
    margin-bottom: 1rem;
}

#gap1{
    width: 40%;

}
#gap2{
    width: 40%;
}

#login{
    display: flex;
    flex-direction: column;
}

.input-login{
    display: flex;
    flex-direction: column;
}

#email-ipt{
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #EBEBEB;
    color: #A7A7A7;
    margin-bottom: 0.6rem;
}

#password-ipt{
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #EBEBEB;
    color: #A7A7A7;
    margin-bottom: 0.6rem;

}

#remember{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #474D59;
    margin-bottom: 1rem;
}

#remember input{
    margin-right: 6px;
}

#login-btn{
    border: none;
    background-color: #3577EF;
    padding: 14px;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}
#btn-principal{
    text-decoration: none;
    font-size: 14px;
    color: white;
}

#register{
    font-size: 12px;
    color: #474D59;
}



